#content {
  width: 650px;
  margin: auto;
  margin-top: 10%;
}

#fact-container {
  color: coral;
  font-size: 120%;
  font-style: bold;
  margin: 15%;
}

h1 {
    color:forestgreen;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
}
