#content {
  text-align: center !important;
  font-family: 'Raleway', sans-serif;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
}

.header h2, .section h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
}

.link, .name {
  color: darkblue;
  font-family: 'Roboto', sans-serif;
  font-size: 120%;
  margin-bottom: 0%;
}

.link:hover {
  color: red;
  text-decoration: none !important;
}

.col-2 {
  padding: 0px !important;
}

.col-2 img {
  height: auto;
  max-width:  100%;
  object-fit: cover;
  opacity: .8;
}

.col-2:hover img, .col-6:hover img {
  opacity: 1;
}

.info {
  text-align: center !important;
}

.info h1 {
  font-family: 'Roboto', sans-serif;
  color: darkblue;
  font-size: 200%;
}

.info h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 150%;
}